---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Rad4ngel">
  <div class="main-container">
    <h1>Hola soy Rad</h1>
    <h2>Me gusta hacer muchas cosas con codigo y modelos 3D</h2>
  </div>
</DefaultLayout>

<style>
  .main-container {
    margin: 0px 16px;
  }
</style>
