<nav>
    <div class="nav-bar-container">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/commissions">Commissions</a>
    </div>
</nav>
<style>
    a {
        color: aliceblue;
        font-size: 42px;
        text-decoration: none;
    }
    .nav-bar-container {
        display: flex;
        justify-content: space-around;
        height: 48px;
        background-color: #111;
    }
</style>
