---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";

console.log("This runs in your terminal, not the browser!");

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <Header />
        <!-- <Navbar /> -->
        <slot />
    </body>
    <style is:global>
        @import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

        body {
            font-family: "FiraCode", monospace;
            background-color: #111;
            color: white;
            margin: 0px;
        }
        html {
            scroll-behavior: smooth;
            scroll-padding-top: 80px; /* Ajusta según la altura del header */
        }
    </style>
</html>
